{% extends 'base.html' %}
{% block title %}
    Acerca
{% endblock %}
{% block navbar %}

{% endblock %}
{% block body %}
    {{super()}}
    <div class="jumbotron">
        <h1>Servicio Metereológico</h1>
        <h2>Acerca</h2>
        <p>
            Dentro de la presente página web se podrá consultar el timepo del lugar que aqui aparece
        </p>
        <p>
            Algunas de las opciones que se podran realizar aqui son:
        </p>
        <ul>
            <li>Registrarse</li>
            <li>Iniciar Sesion</li>
            <li>Realizar Consultas</li>
            <li>Revisar Historial</li>
        </ul>
    </div>
{% endblock %}