{% extends 'base.html' %}
{% block title %}
    Inicio
{% endblock %}
{% block navbar %}

{% endblock %}
{% block body %}
    {{super()}}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="jumbotron">
        
        <h1>Servicio Metereológico</h1><br><br>
        <p>
            <!-- <img src={{ url_for('static', filename="itcolima.svg" ) }} height="250" width="250"> -->
        </p>
        <div class="container">
            <label>Ciudad:</label>
            <p>{{clima['location']['name']}}</p>
            <label>Temperatura:</label>
            <p>{{clima['current']['temperature']}} ℃</p>
            <label>Sensacion Térmica:</label>
            <p>{{clima['current']['feelslike']}} ℃</p>
            <label>Precipitacion de lluvia:</label>
            <p>{{clima['current']['precip']}}%</p>
            <label>Precipitacion de lluvia:</label>
            <p>{{clima['current']['humidity']}}</p>
            
        </div>
    </div>
{% endblock %}