{% extends 'base.html' %}
{% block title %}
    Inicio
{% endblock %}
{% block navbar %}

{% endblock %}
{% block body %}
    {{super()}}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="jumbotron">
        
        <h1>Servicio Metereológico</h1><br>
        <p>
            <!-- <img src={{ url_for('static', filename="itcolima.svg" ) }} height="250" width="250"> -->
        </p>
        <div id="cont_c814784281839d6b1eedebd3d0c2c89a"><script type="text/javascript" async src="https://www.meteored.mx/wid_loader/c814784281839d6b1eedebd3d0c2c89a"></script></div>
    </div>
{% endblock %}